* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}


.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.head-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 0;
}

nav {
    display: flex;
    gap: 40px;
}

.nav-links {
    color: #4F5665;
    line-height: 18.96px;
    font-weight: 400;
}

.nav-links:hover {
    transition: 0.5s;
    color: orangered;
}

/* signs */

.sign {
    display: flex;
    gap: 30px;
    align-items: center;
    font-weight: 500;
}

.signup {
    border: 1px solid #F53855;
    border-radius: 50px;
    padding: 13px 45px;
    line-height: 18.96px;
    color: #F53855;
    cursor: pointer;
}

.signup:hover {
    background-color: #F53855;
    color: #fff;
    transition: 0.5s;
}

.signin {
    color: #0B132A;
    line-height: 18.96px;
    cursor: pointer;
}

.signin:hover {
    color: #F53855;
    transition: 0.5s;
}

/* burger menu */

.burger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    display: flex;
    flex-direction: column;
    width: 35px;
    cursor: pointer;
}

label span {
    background: #000;
    border-radius: 5px;
    height: 3.5px;
    margin: 3.5px 0;
    transition: .3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}


.burger-slice:nth-of-type(1) {
    width: 50%;

}

.burger-slice:nth-of-type(2) {
    width: 100%;
}


.burger-slice:nth-of-type(3) {
    width: 75%;
}


input[type="checkbox"] {
    display: none;
}


input[type="checkbox"]:checked~span:nth-of-type(1) {
    transform-origin: bottom;
    transform: rotatez(45deg) translate(5px, 1px)
}


input[type="checkbox"]:checked~span:nth-of-type(2) {
    transform-origin: top;
    transform: rotatez(-45deg)
}


input[type="checkbox"]:checked~span:nth-of-type(3) {
    transform-origin: bottom;
    width: 50%;
    transform: translate(15px, -5px) rotatez(45deg);
}

/* header done */



/* row-cols */

.row {
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
}

[class*="col-"] {
    padding: 0 15px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* row-cols */

.want-lasles-vpn {
    padding: 42px 0 0;
}

.intro-wrap {
    margin-bottom: 103px;
}

.main-title {
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
    padding: 15px 0 0;
}

.bold-swine {
    font-weight: 700;
    font-size: 50px;
    line-height: 70px;
}

.main-title--subtitle {
    color: #4F5665;
    font-weight: 400;
    line-height: 30px;
    padding: 30px 0 60px;
}

.bold-pig {
    font-weight: 500;
}

.box {
    width: 100%;
    height: 100%;
}

.lasles-char {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.get-btn {
    border: 2px solid #F53838;
    background-color: #ffffff;
    color: #F53838;
    padding: 17.5px 75px;
    border-radius: 10px;
    font-weight: 700;
    line-height: 25px;
    cursor: pointer;
}

.get-btn:hover {
    background-color: #F53838;
    color: #fff;
    border: 1px solid #F53838;
    box-shadow: 0px 25px 32px -10px rgba(245, 56, 56, 0.35);
    transition: 0.4s;
}

/*  */

.con-for-col4 {
    background-color: #fff;
    display: flex;
    align-items: center;
    box-shadow: 0px 30px 32px -10px rgba(13, 16, 37, 0.06);
    border-radius: 10px;
    border: none;
    width: 100%;
    padding: 67.5px 0;
}

.pr-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 36.5px;
    position: relative;
}

.adv-info {
    text-align: center;
}

.pr-name {
    color: #4F5665;
}

.intgrs {
    font-weight: 700;
    color: #0B132A;
    font-size: 25px;
    line-height: 30px;
}

.separate-lines:before {
    background: #EEEFF2;
    content: "";
    height: 125.57px;
    left: 0;
    width: 2px;
    position: absolute;
}

.separate-lines:after {
    background: #EEEFF2;
    content: "";
    height: 125.57px;
    right: 0;
    width: 2px;
    position: absolute;
}

/* next-section */

.provide-many-features {
    padding: 95px 0 131px;
}

.text-content {
    padding: 55px 0 0 60px;
}

.second-title {
    font-weight: 500;
    line-height: 50px;
    font-size: 35px;
    color: #0B132A;
}

.second-subtitle {
    padding: 20px 0;
    color: #4F5665;
    font-weight: 400;
    line-height: 30px;
}

.line-svg {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-bottom: 15px;
}

.line-p {
    color: #4F5665;
    font-weight: 400;
    line-height: 30px;
}

/* nekzt stction desu! */

.choose-your-plan {
    padding: 80px 0 75px;
    background: linear-gradient(180deg, #F8F8F8 -45.04%, rgba(248, 248, 248, 0) 88.56%);
}

.plan-spacing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    background-color: #fff;
    height: 760px;
}

.plan-spacing:hover {
    border: 2px solid #F53838;
    transition: 0.5s;
}

.description {
    text-align: center;
}

.title-center {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 60px;
}

.box-img {
    padding: 79px 0 0;
}

.plan-name {
    font-weight: 500;
    line-height: 30px;
    font-size: 18px;
    padding: 30px 0;
}

.plan-line-svg {
    display: flex;
    gap: 25.61px;
    padding-bottom: 10px;
}

.plan-price {
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
}

.select {
    font-weight: 700;
    line-height: 18.96px;
    color: #F53838;
    border: 2px solid #F53838;
    padding: 13px 63px;
    border-radius: 50px;
    margin: 0 0 50px;
}

.select:hover {
    color: #fff;
    background-color: #F53838;
    transition: 0.4s;
    box-shadow: 0px 25px 32px -10px rgba(245, 56, 56, 0.35);
}

.price-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.month {
    color: #4F5665;
    font-weight: 400;
    line-height: 30px;
    font-size: 25px;
}

/* next */

.world-map {
    padding: 75px 0 50px;
}

.devider {
    display: block;
}

.rates {
    border: 2px solid #DDDDDD;
    padding: 20px;
    border-radius: 10px;
    height: 100%;
    background-color: #fff;
}

.rates:hover {
    border: 2px solid #F53838;
    transition: 0.5s;
    box-shadow: 0px 40px 35px -10px rgba(245, 56, 56, 0.12);
}

.who {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.ava-name {
    display: flex;
    align-items: center;
    gap: 11px;
}

.name {
    font-weight: 500;
    font-size: 18px;
}

.location {
    font-weight: 400;
    font-size: 14px;
    color: #4F5665;
}

.comment {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #0B132A;
}

.rating {
    display: flex;
    gap: 11px;
    align-items: center;
}


.scroll {
    padding: 62px 0 65px;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
}

.scroll-pointer {
    display: flex;
    gap: 15px;
}

.cursors {
    display: flex;
    gap: 20px;
}

.btn-borders {
    background-color: #fff;
    border: #F53838 2px solid;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-borders:hover {
    background-color: #F53838;
    transition: 0.4s;
}

.btn-borders:hover path {
    fill: #ffffff;
    transition: 0.4s;
}

.trust .container {
    position: relative;
}

.sub-now-col {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 4px 4px 75px 45px rgba(80, 36, 49, 0.05);
    border-radius: 10px;
    border: none;
    padding: 58.5px;
    position: relative;
    margin-bottom: -125px;
}

.other-size {
    line-height: 45px;
}

.other-spacing {
    padding: 20px 0 0;
}

/* footer */


footer {
    background-color: #F8F8F8;
}

.content-blocks {
    padding: 183px 0 100px;
    display: flex;
    justify-content: space-between;
}

.left-side {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.tm-style {
    color: #AFB5C0;
}

.socs {
    display: flex;
    margin-left: -20px;
}

.right-side {
    display: flex;
    gap: 126px;
}

.foot-block-p {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    padding: 0 0 20px;
}

[class*="colm-"] {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.services {
    color: #4F5665;
    line-height: 30px;
}

.services:hover {
    color: #F53838;
}

img {
    max-width: 100%;
    height: auto;
}